body{
	margin:0;
	font-family:roboto;
	background:#eaeaea;
}

a{
	text-decoration:none;
	color:inherit;
}

/*Banner */

.banner .main_cover{
	background-image: url("../images/cover.png");
	height: 465px;
	background-size: cover;
	background-position: center center;
	position:relative;
}